*{
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html, body{
    scroll-behavior: smooth; 
    /* để khi nhấn vào mọt menu trên header thì trượt xuống phần đó một cách mượt mà  */
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* common  */
a{
    text-decoration: none;
}
.content{
    width: 1170px;
    max-width: calc(100%-48px);  /* để khi màn hình nhỏ nó ko tràn ra  */
    margin-left: auto;  /* căn giữa  */
    margin-right: auto; /* căn giữa  */
    
}
.btn{
    display: inline-block; /* dùng thẻ a nên để thế này mới dùng đc padding margin */
    min-width: 118px;
    text-align: center;
    /* height: 50px; */
    line-height: 50px;
    border-radius: 25px;
    background-color: #171100;
    padding: 0px 16px;
    color: #FFF;
}

/* header  */
.header{
    background-color: #FFFCF4;
    /* height: 50px; */
    
}
.header.fixed{
    position: sticky;
    top: -28px;
    /* z-index: 1; */
}

.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .logo{

}
.header .nav{
    margin-left: auto;
}
.header .nav ul{
    display: flex;
}
.header .nav ul a{
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover, .nav li.active a{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor; /* khi hover vào thì ko bị giật nội dung xung quang như weight */
    color: #171100;
}
.nav li.active a::after{
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
    position: absolute;
    left: 21px;
    bottom: 6px;
}
.header .sign-up-btn{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}